# =========================
# Rust
# =========================
**/target/
**/*.rs.bk
Cargo.lock

# =========================
# Node / JavaScript
# =========================
node_modules/

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
